body {
    background-color: gainsboro;
  }
h1 {
    color: black;
  }
.ContactInfo {
    color: navy
}
.ProfessionalExperience {
    color: darkgoldenrod
}
.Certifications {
    color: orangered
}
.TechnicalSkills {
    color: purple
}