body {
    background-color: gainsboro;
    text-align: center;
  }
h1 {
    color: black;
    text-align: center;
  }
.ContactInfo {
    color: navy
    text-align: center;
}
.ProfessionalExperience {
    color: darkgoldenrod
    text-align: center;
}
.Certifications {
    color: orangered
    text-align: center;
}
.TechnicalSkills {
    color: purple
    text-align: center;
}