body {
    background-color: gainsboro;
  }
h1 {
    color: black;
  }
h4 {
    color: black;
  }
h5 {
    color: black;
}

h6 {
    color: black;
}
.ContactInfo {
    color: navy
}
.ProfessionalExperience {
    color: darkgoldenrod
}
.Certifications {
    color: orangered
}
.TechnicalSkills {
    color: purple
}